<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing web</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="resources/css/index.css">

</head>

<body>

    <%- include('header_menu.ejs') %>



        <section class="services" id="services">

            <h1 class="heading"> our <span>services</span> </h1>

            <div class="box-container">


               
                    
                      <script src="script.js"></script>










                <!-- about section starts -->
                <section class="about" id="about">
                    <h1 class="heading"> <span>about</span> us </h1>

                    <div class="row">
                        <div class="image">
                            <img src="images/about-img.png" alt="">
                        </div>


                        <div class="content">

                            <h3 class="title">big projects starts with big dreams</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, incidunt nostrum
                                porro nesciunt laudantium iure consectetur necessitatibus dolores rerum velit
                                repellendus id, dolor unde error voluptas ut dignissimos? Voluptate, aperiam?</p>
                            <a href="#" class="btn">learn more</a>
                            <div class="icons-container">
                                <div class="icons">
                                    <i class="fas fa-award"></i>
                                    <h3>14 award won</h3>
                                </div>
                                <div class="icons">
                                    <i class="fas fa-user"></i>
                                    <h3>250 satisfied clients</h3>
                                </div>
                                <div class="icons">
                                    <i class="fas fa-project-diagram"></i>
                                    <h3>200 project completed</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- about section end -->























                <script src="resources/css/index.js"></script>
</body>

</html>